$clr1: #05668d;
$clr2: #028090;
$clr3: #00a896;
$clr4: #02c39a;
$clr5: #f0f3bd;
$clr6: #8d6f89;
$clr7: #cfbecd;
$break-mobile: 700px;
$break-narrow: 920px;
$break-normal: 1100px;
$break-wide: 1300px;
